/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.edit.xml
/.idea/laravel-idea.xml
/.idea/workspace.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.idea
.idea